/*================

 General Styles

================*/

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {    
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 300;
    color: #444;
    letter-spacing: 0.1rem;
}

h3 {
    font-weight: 300;
    color: #444;
}

cite,
content{
    color: #fff;
}

.tagline {
    font-weight: bold;
    letter-spacing: .2rem;
    margin-top: 1.9em;
}

.btn-primary {
    background-color: #fff;
    border-color: #444;
    color: #444;
    margin: 1.3em 0;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.btn-outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5em 2em;
}

.btn-form {
    background-color: #fff;
    border-color: #444;
    color: #444;
    margin: 1.3em 0;
}

.btn-form:hover{
    background-color: #555;
    border-color: #555;
}

.btn-send,
.btn-success,
.btn.disabled,
.btn.disabled:hover{
    color: #555;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.btn-success:hover,
.btn-success:focus{
    color: #fff;
    background-color: #555;
    border-color: #555;
}

/*================

 Menu Animation

================*/

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


/*================

 Delayed 075s

================*/

.delayed_035s {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.75s;
}

/*================

 Nav Styles

================*/

.navbar {
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.16);
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.logo {
    min-height: 30px;
    height: 5em;
    margin-top: -1.5em;
}

.mark {
    background-color: #fbb044; 
}

/*==================

 Header Text Animate

==================*/

.rw-wrapper{
	max-width: 80%;
	position: relative;
	font-family: 'Open Sans', helvetica;
    font-size: 2.1em;
    padding-left: 0;
    padding-bottom: 1em;
	line-height: 1.5;
    top: 0.5em;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.rw-sentence span{
	color: #fff;
	white-space: nowrap;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #00bef2;
}

.rw-words-1 span{
	-webkit-animation: rotateWordsFirst 18s linear infinite 0s;
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	-webkit-animation: rotateWordsSecond 18s linear infinite 0s;
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	-webkit-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #00bef2;
}
.rw-words span:nth-child(3) { 
	-webkit-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #00bef2;	
}
.rw-words span:nth-child(4) { 
	-webkit-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #00bef2;
}
.rw-words span:nth-child(5) { 
	-webkit-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #00bef2;
}
.rw-words span:nth-child(6) {  
	-webkit-animation-delay: 15s;  
	animation-delay: 15s; 
	color: #00bef2;
}

    -webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/*================

 Header Styles

================*/

.intro-header {
    padding-top: 50px;  /*If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #f8f8f8;
    background: url("../assets/images/header_bg.jpg") no-repeat center center;
    background-size: cover;
    min-height: 70%;   
}


.intro-message {
   padding-top: 12%;
   margin-left: 0.4em;
}

.intro-message > h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 16px rgba(0,0,0,0.8);
}

 .intro-message h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

.intro-message > p {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-top: 1.0em;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

/*== HEADER MEDIA QUERIES ==*/
@media(max-width:767px) {
    
    .intro-header {
        min-height: 50%;
        width: 100%;
    }
    
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        margin-top: 0.2em;
        font-size: 3em;
        line-height: 1.1em;
    }
    
    .rw-wrapper {
        max-width: 80%;
        padding-left: auto;
        padding-right: auto;
    }
    
    .rw-words {
        display: block;
        text-indent: 0;
        margin-bottom: 1.5em;
        top: 2em;
    }
}

/*================

 BIG QUOTE

================*/

.big-quote {
    border-left: none;
    padding: 4em 0;
}

.big-quote p {
    font-weight: 300;
    font-size: 2em;
    color: #e4e4e4;
}

.big-quote cite {
    font-style: normal;
}

/*================

 THUMBS 

================*/

.thumbs {
    padding: 8em 0;
}

/*================

 BLOCK STYLES

================*/

.content-section-a {
    padding: 2em 0;
}

.content-section-b {
    padding: 50px 0;
    background: -webkit-linear-gradient(top, rgba(34, 99, 157,1) 0%, rgba(4,190,242,1) 100%);
    background: linear-gradient(to bottom, rgba(34, 99, 157,1) 0%, rgba(4,190,242,1) 100%);
}

.content-section-c {
    padding-top: 5em;
}


.blue,
.white {
    padding-top: 10em;
    padding-bottom: 0;
}

.white-top {
    padding-top: 10em;
    padding-bottom: 5em;    
}

.left {
    padding-left: 0;
    margin-left: 0;
}

.right {
    padding-right: 0;
    margin-right: 0;
}

@media(max-width:992px) {
    .blue,
    .white {
    padding-bottom: 0;
    
}

.left {
    padding-left: 0;
    margin-left: 0;
    }

.right {
    padding-right: 0;
    margin-right: 0;
}  
    
    .featurette-image {
        margin-left: 0;
    }
    
    
}

.section-heading  {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 600;
    color: #fff;
}

/*===============
Banner
=================*/

@media(max-width:767px) {
    
    .tagline {
        margin-top: 1.2em;
    }
    
}

.banner {
    padding: 20px 0;
    color: #525252;
    background-size: cover;
    background-color: #525252;
}

.banner h2 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    margin-top: 0;
    text-align: center;
}

.social-button a {
    border: none;
    font-size: 1.8em;
}

.social-button a:hover {
    background-color: #525252;
    color: #fff;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
        padding: 1.4em;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        margin-bottom: 20px;  
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}


/*================

 EWG Tech Styles

================*/

.head-acad {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.2em;
}

.thumbnail .caption {
    padding: 0 24px;
}

.caption > p {
    font-weight: 300;
    font-size: 1.2em;
}

.thumbnail {
    padding: 4em 0;
    border: none;
    box-shadow: 0px 3px 38px 1px rgba(0, 0, 0, 0.2); 
}

.th-logo-1 {
    height: 50%;
    width: 70%;
    margin: 0 2em;
    
}

.th-logo-2 {
    margin: 0 2em;
}

.th-logo-3 {
    height: 80%;
    width: 28%;
    margin: 0 2em;
}

.th-logo img{
    height: 50%;
}

/*================

 CAROUSEL Styles

================*/



/*================

 CAROUSEL Styles

================*/

ol.carousel-indicators {
    bottom: -4.5em;
}

.quotes {
    padding: 6em 0;
}

.carousel-inner cite {
    font-style: normal;
}

/*================

 STATS Styles

================*/

.stats {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
}

.counter-item i {
    color: #555;
    font-size: 3.75em;
}

.counter-item h2 {
    font-family: 'Open Sans', Helvetica;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.18em;
    margin-top: 0.938em;
}

.counter-item p {
    color: #555;
    font-size: 2em;
    margin-top: 0;
    font-weight: 300;
}

/*================

 Featurette Styles 

================*/

.featurette-heading {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.9em;
}

.tech-lead {
    color: #fff;
}

.featurette h2 {
    font-weight: 700;
    margin-bottom: 0.9em;
}

/*================

 PRICING Styles 

================*/

.pricing {
    padding: 1em 0;
}

.panel, 
.panel-primary, 
.panel-pricing {
    border: 3px solid #fff;
    background-color: #fff;
    box-shadow: 0px 3px 38px 1px rgba(0, 0, 0, 0.2); 
}

.panel-body {
    padding: 0 15px;
}

.most-pop-space {
    margin: 2em 0;
}

.panel-heading h3 {
    font-weight: 700;
    font-size: 2.25em;
}

.price {
    font-size: 4.5em;
    color: #0082c2;
}

.tag-mute {
    font-size:0.9em;
    color: #555555;
    opacity: 0.6;
}

.most-pop p {
    color: #0082c2;
    margin: 0;
}

.panel-primary > .panel-heading {
    background: #fff;
    border: none;
}

.list-group-item {
    border: none;
}

.panel-primary,
.panel-heading {
    background-color: #fff;
}

.panel-footer {
    background-color: #fff;
}

.premium {
    border: 3px solid #04bef2;
    
}

/*================

 Pricing Page

================*/
.price-tag {
    padding: 2em 0em;
    color: #525252;
    font-weight: 700;
}

/*================

 Request a Demo

================*/

.content-section-c h2 {
    padding: 1.2em 0;
    color: #525252;
    font-weight: 700;
    
}

.content-section-c p {
    color: #525252;
    
}

/*================

 Contact Form

================*/

.form-container {
    padding-top: 2em;
}

.form-container h2{
    color: #fff;
    margin-bottom: 1.8em;
    font-weight: 700;
}

.blackHeading {
    color: #525252;
}

.form-container label {
    color: #fff;
}

.iphone-photo{
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 50%;
   padding-top: 3.5em;
}

.text-muted {
    color: #fff;
}

select {
    display: block;
    width: 100%;
    height: 2em;
    color: #555555;
    background-color: #fff;
    border: 0;
    font-size: 1.3em;
}

.mail-link {
    color: #0082c2;
}

.mail-link:focus,
.mail-link:hover {
    text-decoration: none;
    color: #04639d;
}

/*================

 Footer Styles

================*/

footer {
    padding: 2.8em 0;   
}

.footer-img {
    max-width: 100%;
    background: url("../assets/images/footer-3.jpg") no-repeat center center;
    background-size: cover;
    background-position: fixed;
}

 a {
    color: #444;
    
}

p.copyright {
    margin: 15px 0 0;
    color: #444;
}

.back-to-top,
.back-to-top:hover,
.back-to-top:focus{
    cursor: pointer;
    position: fixed;
    bottom: 1.25rem;
    right: 0.125rem;
    display:none;
    border: none;
    background: transparent;
}

/*================

 Modal Contact

================*/
.modal-content {
	border-radius: 0px;
}

.modal-header {
	background: #555;
	color: white;
}

.modal-header h4 {
	font-weight: 700;
}

.modal-body {
	background: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-body a {
    color: #555;
}

.modal-footer {
	background: #f2f2f2;
	margin-top: 0px; 
    border: none;
}


/* MENU ANIMATION */

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
