/*================

PRICING

================*/

.disclaimer {
  font-size: 0.7em;
}

.pricing-box{
  margin-top: 2em;
}

.pricing-grid {
  max-width:1200px;
  justify-content: center;

  /* Flex Container */
  display: flex;
/*   align-items: center; */
}

.plan {
  background: #fff;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14);
  transition: all .3s ease-in-out;
  border-bottom: 3px solid #0082c2;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.plan > * {
  flex: 1 1 100%;
}

 .plan .cta {
  align-self:flex-end;
  color: white;
}

.list-group-item {
  border: none;
}

.plan:hover{
  transform:  scale(1.1);
}

.plan p {
  font-size: 16px;
}

.plans .header {
  height: 140px;
}

.plans .header .icon {
  margin-top: 10px;
  font-size: 58px;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px;
  color: #555;
}

.plan ul li:last-child {
  border-bottom: 0;
}

.plan a {
  text-decoration: none;
  padding:10px;
  color: #555;
  border-radius:4px;

}

.plan h2 {
  color:#fff;
  letter-spacing: 2px;
}

.price {
  margin: 3em;
}

.price small {
  margin: 0;
  padding: 0;
}

.price span {
  font-size: 3em;
  line-height: 0;
}

span.special-text {
  font-size: 0.8em;
}

.price-1 span {
  font-size: 2.1em;

}


.features a {
  color: #0082c2;
}

.description{
  margin: 0 0.3em;
}

.plans .header{
  border-radius: 3px 3px 0 0;
  background: #0082c2;
  color: #fff;
}

.cta {
  background: #0082c2;
  margin: 1em 1em;
  padding: 1em 0;
  color: #ffffff;
}

.cta >* {
  color: white;
}

a {
  color: #555;
}




/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {


    .pricing-grid{
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }






































    }
